.dash-container{
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 800px;
    height: auto;

    position: relative;
    top: 300px;
    left: 400px;

    padding: 50px;
}

.dash{
    border: 1px solid black;
    border-spacing: 15px;
}

.dash-head{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.dash-body {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.del-btn{
    font-size: 15px;
    
    background-color: hsl(0, 100%, 50%);
    color: white;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.del-btn:hover{
    background-color: hsl(0, 100%, 40%);
}


.create-btn{
    font-size: 20px;

    padding: 5px;

    margin-top: 20px;
    margin-right: 10px;
    
    border: none;
    border-radius: 10px;

    cursor: pointer;

    background-color: hsl(117, 100%, 50%);
    color: white;

}

.create-btn:hover{
    background-color: hsl(117, 100%, 40%);
}

.update-btn{
    background-color: hsl(0, 0%, 75%);
    color: white;

    border-radius: 5px;
    border: none;

    cursor: pointer;

    font-size: 15px;
}

.update-btn:hover{
    background-color: hsl(0, 0%, 65%);
}   

.user-change{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-bottom: 20px;
    padding: 5px;

    width: 150px;

    border: none;
    border-radius: 10px;

    background-color: hsl(50, 100%, 50%);
    color: white;

    cursor: pointer;
}

.user-change:hover{
    background-color: hsl(50, 100%, 40%);
}  