.create-container{
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    margin: auto;

    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
}

.create{
    font-size: 25px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.create > input{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

    width: 250px;

    margin: 0px 10px;

    border-radius: 10px;
}

.create > button{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;

    padding: 5px;

    width: 100px;

    background-color: hsl(180, 80%, 50%);

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.display{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.display > a{
    text-decoration: none;
}

.idShow{
    font-size: 20px;

    padding: 5px;

    width: 125px;

    border: none;
    border-radius: 10px;

    background-color: hsl(0, 0%, 0%);
    color: white;

    cursor: pointer;
}

.idShow:hover{
    background-color: hsl(0, 0%, 20%);;
}