.signup-container{
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;

    background-color: hsl(312, 100%, 90%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 300px;
    left: 500px;

    width: 600px;

    padding: 25px;
}

.signup{
    width: 75%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    color:hsl(0, 0%, 29%)
}

.signup > input {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;

    padding: 5px;

    border-radius: 8px; 
}

.signup > button{
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    padding: 10px;

    width: 100px;

    border: none;
    border-radius: 10px;

    background-color: hsl(350, 100%, 50%);
    color: white;

    cursor: pointer;
}

.signup > button:hover{
    background-color: hsl(350, 100%, 40%);
}

.login-btn{
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    padding: 10px;

    width: 100px;

    border: none;
    border-radius: 10px;

    background-color: hsl(220, 100%, 50%);
    color: white;

    cursor: pointer;
}

.login-btn:hover{
    background-color: hsl(220, 100%, 40%);
}